algo: "PPO"

env:
  n_envs: 128
  frame_stack: 5

train:
  total_timesteps: 8_000_000_0
  log_dir: "./tensor_logs"

model:
  policy: "CnnPolicy"
  features_dim: 512

  learning_rate: "cosine_schedule(0.0003)" 
  n_steps: 256
  batch_size: 8192
  n_epochs: 4
  gamma: 0.99
  gae_lambda: 0.95
  clip_range: 0.2
  ent_coef: 0.02
  vf_coef: 0.5
  max_grad_norm: 0.5
  
  verbose: 1
  device: "cuda"